# Python Variables Practice (Assignment 1)

**Topics Covered:**
- Variable creation
- int, float, str, bool data types
- Printing variables
- f-strings

## Section 1: Variable Creation & Printing

### Question 1
Create a variable to store your **age** and print it.

In [ ]:
# write your answer

age =35

print(age)

### Question 3
Create a variable to store your **first name** and print it.

In [3]:
first_name = "vikas"
print("vikas")

vikas

### Question 2
Create a variable to store the **price of a notebook** (can be a decimal value) and print it.

In [19]:
price_of_a_notebook = 8.2
print(price_of_a_notebook)

8.2

### Question 4
Create a variable to store whether you have **completed todayâ€™s class** (True/False) and print it.

In [7]:
is_completed_todays_classes= "true"
print(is_completed_todays_classes)

true

### Question 5
Create two variables:
- one to store the **number of classes attended**
- one to store the **average rating** (float)
Print both.

In [10]:
number_of_classes_attended = 33
one_to_store_the_average_rating = 4.5
print(number_of_classes_attended)
print(one_to_store_the_average_rating)

33
4.5

## Section 2: Printing using f-strings

### Question 6
Create variables for **name** and **age** and print:
> My name is Rahul and I am 22 years old.

In [12]:
name = "vikaas"
age = 24
print(name,age)

vikaas 24


### Question 7
Create variables for **item name** and **price** and print:
> The price of Pen is 10.5 rupees.

In [13]:
price_of_pen=10.5
print(price_of_pen)

10.5

### Question 8
Create variables for **batch name** and **class completed status** and print:
> Batch DA10 class completed status is True.

In [18]:
batch_name = "DA10"
class_completed_status = "True"
print(batch_name)
print(F"Batch {batch_name} class completed status is {class_completed_status}")

DA10
Batch DA10 class completed status is True