# Python Operators Practice Notebook

Each question is followed by its solution in the next code cell.
Difficulty level: Easy to Medium.

## Arithmetic Operators

Q1. Add two numbers a = 10 and b = 5.

In [ ]:
a=10
b=5
c=a+b
print(c)

15

Q2. Find the remainder when 17 is divided by 4.

In [ ]:
a=17
b=4
c=a/b
print(c)

4.25

Q3. Calculate 3 raised to the power 4.

In [ ]:
a=3
b=4
c=a**b
print(c)

81

## Assignment Operators

Q4. Assign 10 to x and add 5 to it using assignment operator.

In [ ]:
x=10
y=x+5
print(y)

15

Q5. Assign 20 to y and multiply it by 2 using assignment operator.

In [ ]:
y=20
z=y*2
print(z)

40

Q6. Assign 15 to z and subtract 7 using assignment operator.

In [ ]:
z=15
a=z-7
print(a)

8

## Comparison Operators

Q7. Check if 10 is greater than 5.

In [ ]:
a=10
b=5
if a>b:
  print(True)
else:
  print(False)

True

Q8. Check if 7 is equal to 9.

In [ ]:
a=7
b=9
if a==b:
  print(True)
else:
  print(False)

False

Q9. Check if 8 is not equal to 3.

In [ ]:
a=8
b=3
if a==b:
  print("True")
else:
  print("False")

False

## Logical Operators

Q10. Check if 5 > 2 and 10 > 3.

In [ ]:
if 5>2 and 10>3:
  print(True)
else:
  print(False)

True

Q11. Check if 5 > 10 or 3 < 7.

In [ ]:
if 5>10 or 3<7:
  print(True)
else:
  print(False)

True

Q12. Use not operator on condition 10 > 5.

In [ ]:
if 10>5:
  print(True)
else:
  print(False)

True

## Identity Operators

Q16. Check if a and b refer to the same object.
Let a = 10, b = 10.

In [ ]:
a=10
b=10
if a==b:
  print(True)
else:
  print(False)

True

Q18. Compare identity of two variables c and d where c = d = 5.

In [1]:
c=d=5
if c==d:
  print(True)
else:(False)

True

## Membership Operators

Q19. Check if 3 is present in the list [1,2,3,4].

In [ ]:
print(3 in{1,2,3,4})

True

Q20. Check if 'a' is not present in the string 'python'.

In [ ]:
x="python"
if "a" not in x:
  print(True)

True

Q21. Check if 10 is in the tuple (5, 10, 15).

In [ ]:
print(10 in{5,10,15})

True